//  sign_in page

.msg-acount {
	color: white;
	text-align: center;
	font-family: $ff-base;
	margin-bottom: 40px;
}

.sign {
	color: white;
}

#inputLastName3{
	margin-left: 20px;
}

.verify {
	color: $c-gray;
	text-align: center;
}

.startBack {
	background: url(../../img/background-image-users.jpg) center center fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 800px;

}