// start-users page

.start-users {
	background: url(../../img/background-image-users.jpg) center center fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 2000px;
}
.container-users {
	display: flex;
	flex-wrap: wrap;
}

.user-image {
	width: 100px;
	height: 100px;
	border: 1px solid $c-white;
	margin: 0;
	padding: 0;
	border-radius: 800px;
	overflow: hidden;

	&:hover{ 
		background: $c-black;
		opacity: 0.5;
	}
}
.user-name {
	color: $c-white;
	margin: 0;
}
.user {
	margin-right: 10px;
}