<nav class="navbar" id="navbar-tuning-tasks">
    <div class="container-fluid">
        <div class="arrow-nav">
            <a href="/#/listTasks"><i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i></a>
        </div>
        <div class="brand-name-newTask">
            <h4>Detail Task {{3+4}}</h4>
        </div>
    </div>
</nav>
<div class="container">
    <div class="container-adjust">
        <form>
            <div>
                <div class="new-task" >
                    <p>FROM</p>
                    <input class="task-item" ng-value="task.userName" ng-model="newFrom">
                </div>
                <div class="new-task">
                    <p>TO</p>
                    <input class="task-item" ng-value="task.userName2" ng-model="newTo">
                </div>
                <div class="new-task">
                    <p>DATA</p>
                    <input class="task-item" ng-value="task.dateRealized | date:'dd/MM/yyyy'" ng-model="newDate">
                </div>
                <div class="new-task-text">
                    <p>DESCRIPTION</p>
                    <textarea ng-value="task.description" ng-model="newDescription"></textarea>
                </div>
            </div> 
                     <button class="btn btn-color create-button btn-net" ng-click="updateTask(task._id)">SAVE</button>  
        </form>
    </div>
</div>
