<div class="start-users">
    <div class="container-users">
        <div class="user">
            <a href="/#/listTasks" ng-click="selectUserJ()"><img class="user-image" src="img/jordi7.jpg"></a>
            <div class="user-name">
                <h3>Jordi</h3>
            </div>
        </div>
        <div class="user">
            <a href="/#/listTasks" ng-click="selectUserJa()"><img class="user-image" src="img/jaume.jpeg"></a>
            <div class="user-name">
                <h3>Jaume</h3>
            </div>
        </div>
        <div class="user">
            <a href="/#/listTasks" ng-click="selectUserJu()"><img class="user-image" src="img/juanma.jpeg"></a>
            <div class="user-name">
                <h3>JuanMa</h3>
            </div>
        </div>
        <div class="user">
            <a href="/#/listTasks" ng-click="selectUserA()"><img class="user-image" src="img/alex.png"></a>
            <div class="user-name">
                <h3>Alex</h3>
            </div>
        </div>
    </div>
</div>>
